.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 5px;
    color: rgb(194, 191, 191);
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: gray;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item.active {
    color: #6c757d;
  }
  